.footerdiv {
  background-color: #222;
  color: white;
  width: 100%;
}

.footerimage {
  font-size: 30px;
  color: #fff;
}

.footertext {
  font-size: 14px;
  color: #ccc;
}

.lo-go {
  max-width: 150px;
  height: auto;
}
