.header{
    position: fixed;
    top: 0px;
    left: 19.5%;
    width: 80.5%;
    height: 55px;
    display: flex;
    justify-content: end;
}

.main-container {
  margin-top: 56px;
  padding: 10px;
  width: 100%;
}

.dashboard-boxes{
  width: 84%;
  position: relative;
  top: -70px;
  left: 15em;
}
.dashboard-bars{
  width: 82%;
  position: relative;
  top: -50px;
  left: 15.8rem;
}

.card-footer {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.03);
}

.card h5 {
  margin: 0;
}

.card svg {
  color: white;
}

